<!doctype html>
<html>
<head>
  <title>Ask the Audience</title>
</head>
<body>
  <div class='app-window'>
    <div class="title">
      <h1>Ask the Audience</h1>
    </div>
  </br>

  <div id="new-poll-button">
    <button class="btn btn-success large" id="create-poll"> Create a Pole </button>
  </div>

  <div id="new-poll-form">

      <div class="row center">
        <form action="/admin" method="POST" name="survey" id="survey-form" class="col s6 offset-s3">
          <div class="row">
            <div class="input-field">
              <label for="survey[question]">Question:</label>
              <input class="form-control" name="survey[question]" type="text">
            </div>
          </div>
          <br></br>
          <div class="options-list">
            <div class="row">
              <div class="input-field">
                <label for="survey[options][]">Option 1</label>
                <input class="form-control" name="survey[options][]" type="text">
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <label for="survey[options][]">Option 2</label>
                <input class="form-control" name="survey[options][]" type="text">
              </div>
            </div>
          </div>
          <br></br>
            <div class='row'>
            <div>
              <label for="survey[time]">Optional Expiration Timer</label>
              <input class="form-control"  name="survey[time]" type="number" min="0" placeholder="minutes until survey closes">
            </div>
          </div>
        <br></br>
          <button type="button" class="btn btn-warning" id="add-option">Add Option</button>
        <br></br>
          <button type="submit" class="btn btn-success large">Create Poll</button>
        </form>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<script src="survey-create.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css" type="text/css">
</body>
</html>
