<!doctype html>
<html>
<head>
  <title>Ask Questions</title>
</head>
<body>
  <div class='app-window'>
    <div class="title">
      <h1>Ask Questions</h1>
    </div>
  </br>
    <div>
      <h2> results link (for you): </h2>

      <input class="form-control" type="text" value="/admin/<%= survey.owner %>" >

      <h2>  public survey link: </h2>

      <input class="form-control" type="text" value="/survey/<%= survey.id %>" >

      <h2>  private survey link: </h2>

      <input class="form-control" type="text" value="/survey/private/<%= survey.privateId %>" >

    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<link rel="stylesheet" href="../../style.css" type="text/css">
</body>
</html>
