<!doctype html>
<html>
<head>
  <title>Ask the Audience</title>
</head>
<body>
  <div class='app-window'>
    <div class="title">
      <h1>Ask the Audience</h1>
    </div>
  </br>
    <div>
      <h2> results link (for you): </h2>
      <h2> survey link (for them): </h2>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<script src="admin.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css" type="text/css">
</body>
</html>
